<div class="px-2 pt-2 pb-3 space-y-1">
<% for (let menu of menus) { %>
    <a href="#" class="block px-3 py-2 rounded-md text-base font-medium text-gray-700 hover:text-gray-900 hover:bg-gray-50"><%= menu.title %></a>
<% } %>
</div>